.app.dark{
    --bg-color: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(27,27,27,1) 50%, rgba(19,19,19,1) 100%);

    --primary-color: rgb(0, 122, 0);
    --secondary-color: rgb(0, 255, 0);

}   

